<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>剧烈运动时，体内盐分随大量的汗液排出体外，饮水过多会使血液的渗透压降低，破坏体内水盐代谢平衡，影响人体正常生理功能，甚至还会发生肌肉痉挛现象。由于运动时，需要增加心跳、呼吸的频率来增加血液和氧气，以满足运动需要。而大量饮水会使胃部膨胀充盈，妨碍膈肌活动，影响呼吸;血液的循环流量增加，加重了心脏负担，不仅不利于运动，还会伤害心脏。此外，大量饮水会使胃酸浓度降低，影响食物消化。长期大量运动后饮水容易得胃病。</string>
	<string>进餐后需要较多的血液流到胃肠道，帮助食物消化与养分吸收，如果这时参加运动就会造成血液流向四肢，妨碍胃肠的消化，时间一长就会导致疾病。体弱者进餐后血压还会降低，称为餐后低血压，外出活动容易跌倒。长期餐后运动容易得盲肠炎。饮酒后不可进行游泳等运动项目。</string>
	<string>由于运动的基本功能是通过呼吸从外界摄入大量新鲜氧气，以满足健康的需求，故运动前一定要选择好地点，以平坦开阔，空气新鲜的公园、河滩、体育场等处最佳。</string>
	<string>运动不仅是身体的锻炼，也是心理的锻炼。当你生气、悲伤时，不要到运动场上去发泄。运动医学专家的解释是：人的情绪直接影响着身体的生理机能，而情绪的变化又产生于大脑深部，并扩散到全身，在心脏及其他器官上留下痕迹，这种痕迹将影响人体机能的健康。</string>
	<string>选择最佳运动量的方法很多：例如指数评定法、心率评定法、库珀评定法、菲克斯评定法、疲劳评定法、简便评定法、阶段评定法等等。由于每一个人的实际情况千差万别，安静心率相差15—30%，甚至更多，所以选择最佳运动量应根据自己的年龄、性别、职业特点、体力状况、健康水平、体育基础、生活环境、目的任务等不同情况来决定。</string>
	<string>整理活动，是指在体育锻炼后，所采用的一系列放松练习和运动后按摩等恢复手段，目的是消除疲劳，恢复体能，提高锻炼效果。整理活动可以使紧张的肌肉得到放松，在运动中，肌肉毛细血管大量开放，肌肉高度紧张。如果激烈运动后立即静止不动，肌肉内淤积的血液就不能及时流回心脏，肌肉僵硬，疲劳不易消除。相反，运动后做一些整理活动，使运动慢慢缓和下来，或通过按摩挤压肌肉和穴位，就可以使肌肉得到充分的放松和休息。</string>
	<string>运动员经常是每天都要训练，接近比赛时甚至一天训练两次，参加比赛也经常需要一天连续出赛两三次，包括预赛、准决赛、和决赛，例如田径和游泳，或是在短短数天中每天连续出赛，例如篮球，这时运动后的营养补充就变得非常重要，对于下次练习的成效或是比赛的结果有绝对的影响。对运动员而言，运动后的恢复不应该是顺其自然，而应该是主动积极的补充运动所消耗的能量和营养，为紧接而来的比赛或训练做好准备。</string>
	<string>运动后不能立即洗澡这样会导致心脏和脑部供血不足以致于头晕眼花浑身无力，还有由于身上的乳酸过多的积累使全身酸痛。</string>
	<string>运动后的营养补充着重于三方面：第一方面：补充因流汗而损失的水份和电解质  第二方面：补充运动中消耗的肝醣(glycogen) 第三方面：修复受伤的肌肉和组织</string>
</array>
</plist>
